.button.is-spotify {
  background-color: $spotify;
  color: $white;
  border-color: transparent;
  @include transition-property(background-color);
  @include transition-duration(0.2s);
  @include transition-timing-function(ease-in-out);
}

.button.is-spotify:hover,
.button.is-spotify:focus {
  background-color: $spotify-light;
}

.dropdown-trigger .button.track-button {
  @include flex-grow(1);
}

.button.track-button {
  height: auto;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  text-align: left;
}

.button.is-transparent {
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  color: $blue;
  @include transition-property(color);
  @include transition-duration(0.2s);
  @include transition-timing-function(ease-in-out);

  &:hover,
  &:focus {
    color: $pink;
  }
}

.button.is-primary {
  background-color: $teal;
}
