.layout-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.layout-children-container {
  flex: 1 0 auto;
}

@media (min-width: 1000px) {
  .column.is-offset-0-desktop {
    margin-left: 0;
  }
}

body > .notification {
  border-radius: 0;
  margin-bottom: 0;
}
