.track-and-artists {
  @include display-flex;
  @include align-items(center);
  @include flex-grow(1);
}

.track-image {
  display: inline-block;
  vertical-align: middle;
  border-radius: 0.2em;
}

.content ul.tracks-list {
  list-style: none;
  margin-left: 0;
  @include display-flex;
  @include flex-wrap(wrap);

  li {
    margin-bottom: 1em;
    padding-right: 1em;
    @include display-flex;
    @include flex-grow(1);
    width: 33%;

    + li {
      margin-top: 0;
    }
  }
}

.artist-names {
  display: block;
  font-size: 0.85rem;
  color: #555;
}

.track-info {
  @include flex-grow(1);
  overflow: hidden;
  padding-left: 10px;
}

button.audio-toggle {
  @include appearance(none);
  @include user-select(none);
  -webkit-touch-callout: none;
  background-color: white;
  cursor: pointer;
  position: relative;
  display: block;
  padding: 0;
  border: none;

  .fa {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -12px;
    text-shadow: 0 0 1px #111;
    color: #fff;

    &.fa-play {
      margin-left: -8px;
    }

    &.fa-pause {
      margin-left: -10px;
    }
  }
}

.artist-names {
  line-height: 1.33;
}

.artist-name {
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  display: inline-block;
}

.artist-name + .artist-name:before {
  content: "\a0\b7\a0";
}

.track-name {
  line-height: 1.5;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  position: relative;
  white-space: nowrap;
  display: inline-block;
}
