.track-and-artists {
  @include display-flex;
  @include align-items(center);
  @include flex-grow(1);
  overflow: hidden;

  &.selectable {
    border: 1px solid #ddd;
  }
}

.track-image {
  display: inline-block;
  vertical-align: middle;
}

button.audio-toggle,
.track-image,
.track-and-artists {
  border-radius: 3px;
}

button.audio-toggle.selectable,
.track-image.selectable {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.content ul.tracks-list {
  list-style: none;
  margin-left: 0;
  @include display-flex;
  @include flex-wrap(wrap);

  li {
    margin-bottom: 1em;
    padding-right: 1em;
    @include display-flex;
    @include flex-grow(1);
    width: 33%;
    max-width: 33%;

    + li {
      margin-top: 0;
    }
  }
}

.artist-names {
  font-size: 0.85rem;
  color: #555;
}

button.audio-toggle,
button.track-info {
  @include appearance(none);
  @include user-select(none);
  @include flex-shrink(0);
  -webkit-touch-callout: none;
  background-color: white;
  cursor: pointer;
  position: relative;
  display: block;
  padding: 0;
  border: none;

  &:focus {
    outline: none;
  }
}

button.track-info {
  text-align: left;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  @include display-flex;
  @include flex-shrink(1);
  @include flex-direction(column);
  @include justify-content(center);

  &:hover,
  &:focus {
    background-color: $yellow;
  }
}

.track-info,
button.track-info {
  padding-left: 10px;
  padding-right: 10px;
}

.track-info {
  @include flex-grow(1);
  overflow: hidden;
  height: 100%;
}

button.audio-toggle {
  &:hover,
  &:focus {
    .fa {
      color: $white;
    }
  }

  .fa {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -10px;
    text-shadow: 0 0 1px #111;
    color: rgba(255, 255, 255, 0.8);
    @include transition-property(color);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-in-out);

    &.fa-play {
      margin-left: -8px;
    }

    &.fa-pause {
      margin-left: -10px;
    }
  }
}

.artist-names {
  line-height: 1.33;
}

.artist-name {
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  display: inline-block;
}

.artist-name + .artist-name:before {
  content: "\a0\b7\a0";
}

.selectable {
  .artist-names,
  .track-name {
    width: 214px;
  }
}

.artist-names,
.track-name {
  width: 100%;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.track-name {
  line-height: 1.33;
  font-size: 1rem;
}
