// http://www.colourlovers.com/palette/4519466/
$yellow: #FAD927;
$purple: #C800D3;
$pink: #FF0A60;
$teal: #11C7AC;
$blue: #0B00C9;
$white: #fff;
$spotify: #57b660;
$spotify-light: #5bbe63;
$tooltip-background: rgba(240, 240, 240, 0.8);
$tooltip-color: #000;
$tooltip-shadow: #ddd;
